<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>  

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was crated by Ran Tal. Its uses data from mapBox and weatherstock</p>
        <img class="portrait" src='/img/robot.png'>
    </div>
    {{>footer}}
</body>

</html>